/* Styling the html page to make sure that the relative height properties between div elements work */
html {
    height: 100%;
}

/* Styling body element */
body {
    font-size: 1.25rem;
    color: #343434;
    height: 100%;
}

/* Styling the title of page */
h1 {
    text-align: center;
    color: white;
}

/* Styling the subheading of page */
h2 {
    color: #2B985E;
    font-size: 2rem;
}

/* Styling the bootstrap container element */
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Adding space below each li element */
li {
    padding-bottom: .5rem;
}

/* Adding a gradient background to the header of page and adding spacing */
#header {
    background-image: linear-gradient(to right, #1d5993, #22965e);
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex: none;
}

/* Adding spacing between header and search section of page */
#searchbar {
    margin-top: 1.25rem;
}

/* Styling the search input */
.form-control {
    border-radius: .15rem;
    height: calc(3rem + 2px);
    font-size: 1.25rem;
    border-color: #ABABAB;
}

/* Styling the search button */
.btn-success {
    color: #fff;
    background-color: #23995C;
    border-color: #23995C;
    height: calc(3rem + 2px) !important;
    width: calc(3rem + 2px) !important;
    float: right;
    border-radius: .15rem;
    box-shadow: 0 1px 1px #ABABAB;
}

/* Flipping horizontally, resizing, and positioning the search icon within the button */
#searchbtnicon {
    transform: scaleX(-1);
    margin-left: -10px;
    margin-top: -4px;
    font-size: 2.75rem;
}

/* Removing padding around search box and button */
#inputbox { 
    padding-right: 0;
}
#searchbutton {
    padding-left: 0;
}

/* Changing the colour of the "glow" around the search input box when it is focused on */
input[type="text"]:focus {
    border-color: #218838;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #218838;
    outline: 0 none;
}

/* Changing background colour of the favourites section of page */
#favouritessection {
    background-color: #F7FEFA;
    flex: 1;
}

/* Setting flex to none ensures that these divs do not shift relative to the sizes of the others */
#results {
    padding-left: 1rem;
    flex: none;
}
#input {
    flex: none;
}

/* Lining up the list of items in the favourites section with those in the results section */
#favourites {
    padding-left: 1rem;
}



/* styling and positioning the star icons */
.staricon {
    font-size: 1.5rem;
    position: relative;
    right: 0.75rem;
    top: 0.25rem;
    color: #AAAAAA;
}

.greenstar {
    color: #2B985E;
}
